{% extends "base.html" %}
{% block title4act %}
CRXed.
    {% endblock title4act %}
{% block headJS %} 
    {% include 'validatious.html' %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>扩展上传重样儿了!-(</legend>

<span class="label">名称:</span>{{ crx['name'] }}
    <br/>
<span class="label">描述:</span>{{ crx['desc'] }}
</label>
    <br/>
<span class="label">版本:</span> 
    依然是<b class="alert"> {{ crx['version'] }} </b>?!
    <br/>
    
    <br/>

<span id="back_submit" class="btnw">
    <a href="/mana/crxs" >返回再试</a>
</span>

    <br/>
<i>
id: {{ crx['id'] }} 
; uuid: {{ crx['uuid'] }} 
; ispub: {{ crx['ispub'] }} 
; isdel: {{ crx['isdel'] }} 
</i>

</fieldset>

{% endblock mainbody %}



{% block footernav %}
    {% include 'manav.html' %} 
    {% endblock footernav %}

