{% extends "base.html" %}
{% block title4act %}
CRXed.
    {% endblock title4act %}
{% block headJS %} 
    {% include 'validatious.html' %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>杰出扩展, 编辑</legend>
<form action="/mana/crx/{{ crx.uuid }}/info" method="post"
    enctype="multipart/form-data" class="validate">

<span id="reply_submit" class="btnw right">
    <button type="submit" name="submit" >就酱</button>
</span>

<span id="back_submit" class="btnw right">
    <a href="/mana/crxs" >返回</a>
</span>
<br/><hr/>
<ul class="asform">

<li class="textarea1">
<span class="label leftlabel">名称:</span>
    <textarea name="name" id="name" 
    class="required min-length_2" title="扩展 名称必填!且长过4字!"
    rows="1" />{{ crx.name }}</textarea>
</li>

<li class="textarea3">
<span class="label leftlabel">描述:</span>
<textarea name="desc" id="desc" 
    class="required min-length_13" title="扩展 描述必填!且长过13字!"
    rows="3" />{{ crx['desc'] }}</textarea>
</li>

<li class="">
<span class="label">版本:</span>
<input type="text" name="version" id="version" value="{{ crx['version'] }}"
    readonly/>
</li>

<li class="">
<span class="label">推荐?</span>
<input type="checkbox" class="checkbox"
    name="isreco" id="isreco" 
     {% if crx.isreco == 1 %}
    checked
     {% endif %}
    value="isreco"/>
</li>

<li class="textarea3">
<span class="label leftlabel">详情:</span>
<textarea name="detail" id="detail" 
    class="" title=""
    rows="3" n/>{{ crx['detail'] }}</textarea>
</li>

<li class="">
<span class="label">下载:</span>
<input type="text" name="dlrank" id="dlrank" value="{{ crx['dlrank'] }}"
    class="numeric" title="下载量必须为整数"/>
</li>

<li class="">
<span class="label">图片追加:</span>
<input type="file" name="picture" id="picture" 
    class=""  title="!"/>
</li>

<li class="">
<span class="label">G.下载:</span>
<input type="text" name="gsdl" id="gsdl" value="{{ crx['gsdl'] }}"
    class="numeric" title="G.下载量必须为整数"/>
</li>

<li class="">
<span class="label">G.活跃用户数:</span>
<input type="text" name="gsusr" id="gsusr" value="{{ crx['gsusr'] }}"
    class="numeric" title="活跃量必须为整数"/>
</li>

<li class="">
<span class="label">G.Rank:</span>
<input type="text" name="gsrank" id="gsrank" value="{{ crx['gsrank'] }}"
    class="numeric" title="Rank必须为整数"/>
</li>
<li class="">
<span class="label">标签:</span>
{% for t in tags %}

<input type="checkbox" class="checkbox"
    name="tags" id="tags" 
     {% if t.id in crx.tagid %}
    checked
     {% endif %}
    value="{{ t.id }}"/>
    <label for="{{ t.id }}">{{ t.name }}</label>

{% endfor %}

</li>
<li class="">
<span class="label">团队:</span>
{% for g in grps %}

<input type="radio" class="checkbox"
    name="grp" id="grp"
     {% if crx.grpid is not none %}
         {% if g.id == crx.grpid %}
        checked
         {% endif %}
    {% endif %}
    value="{{ g.id }}"/>
    <label for="{{ g.id }}">{{ g.name }}</label>

{% endfor %}

</li>
</ul>
<br/><hr/>
<span id="reply_submit" class="btnw right">
    <button type="submit" name="submit" >就酱</button>
</span>

<span id="back_submit" class="btnw right">
    <a href="/mana/crxs" >返回</a>
</span>
    


    <br/>
<i>
id: {{ crx['id'] }} 
; uuid: {{ crx['uuid'] }} 
; {{ crx.name }}
</i>


</form>
</fieldset>

{% endblock mainbody %}



{% block footernav %}
    {% include 'manav.html' %} 
    {% endblock footernav %}

