{% extends "base.html" %}

{% block title4act %}
CRXs 待发布
    {% endblock title4act %}

{% block headJS %}
    {% include 'validatious.html' %} 
{% endblock%}

{% block mainbody %}
    {% if crxs4try is none %}
            <h1>还未有任何 扩展s 在等待,审核发布!</h1>
            <br/><br/><br/>
<span id="back_submit" class="btnw">
    <a href="/mana/crxs" >返回</a>
</span>

    {% else %}
                <h1>待发布扩展s::</h1>
                    <ul>
                    {% for x in crxs4try %}
                    <li id="iterm" class="{{ loop.cycle('odd', 'even') }}"><a href="/mana/crx/{{ x.uuid }}" title="{{ x.desc }}">{{ x.name }}</a>
                        <sub>
                        <sup>v{{ x.version }}:{{ x.dlrank }} {{ x.uuid }}</sup>
                        <span class="btnwa">
                            <a href="/mana/crx/{{ x.uuid }}/try/pub" >上架</a>
                        </span>
                        <span class="btnwa">
                            <a href="/mana/crx/{{ x.uuid }}/try/bak" >退回</a>
                        </span>
                        </sub>
                        </li>
                    {% endfor %}
                    </ul>

    {% endif %}
        
{% endblock mainbody %}


{% block footernav %}
    {% include 'manav.html' %} 
    {% endblock footernav %}

