{% extends "base.html" %}
{% block title4act %}
CRXed.
    {% endblock title4act %}
{% block headJS %} 
    {% include 'validatious.html' %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>扩展附图, 编辑</legend>
<form action="/mana/crx/{{ uuid }}/pic/{{ sid }}/see" method="post"
    class="validate">

<img src="{{ sspath4pic }}/{{ sid }}"/>
    <br/>

<span class="label">描述:</span>
<input type="text" name="note" id="note" value="{{ pic.note }} "
    class="required min-length_4" title="扩展 描述必填!且长过4字!"/>

    <br/>

<span class="label">icon?</span>
<input type="checkbox" class="checkbox"
    name="icon" id="icon" 
     {% if pic.icon == 1 %}
    checked
     {% endif %}
    value="icon"/>
    
    <br/>

    <br/>

<span id="reply_submit" class="btnw">
    <button type="submit" name="submit" >就酱</button>
</span>

<span id="back_submit" class="btnw">
    <a href="/mana/crx/{{ uuid }}" >返回</a>
</span>
    <br/>



</form>

<i>
uri: {{ ssuri }}
</i>
</fieldset>

{% endblock mainbody %}



{% block footernav %}
    {% include 'manav.html' %} 
    {% endblock footernav %}

