{% extends "base.html" %}

{% block title4act %}
Mana.
{% endblock %}

{% block mainbody %}
    <h1><img src="/static/logo.png"/>后台:页面生成(Bottle版) </h1>
<hr/>

<table>
<tr>
    {% for tag in tags %}
    <td valign="top" class="{{ loop.cycle('odd', 'even') }}">
    <a href="/mana/gen/{{ tag.id }}.html">{{ tag.name }}</a>
    <hr/>
        {% for crx in tag.pub %}
        <a href="/mana/gen/crx/{{ crx.uuid }}.html">{{ crx.name }}</a>
        </br>
        {% endfor %}
    </td>
    {% endfor %}
</tr>
</table>


{% endblock %}

{% block footernav %}
{% include 'manav.html' %} 
{% endblock %}
