{% extends "expbase.html" %}

{% block title4pub %}
{{ crx.name }}
{% endblock %}

{% block mainbody %}
<div class="rightbox">
    <h2>{{ crx.name }}</h2>
    <p>作者：{{ grp.name }}</p>
    <p>版本：{{ crx.version }}</p>
    <p>&nbsp;</p>
    <p>{{ crx.desc }}</p>
    <p>&nbsp;</p>
    <p>
    
    {% for pid in crx.pic %}
        {% if pid != crx.icon %}
            <img src="{{ sspath4pic }}/{{ pid }}"/>
            </br>
        {% endif %}
    {% endfor %}
    </div> <!-- class="rightbox" -->

<div class="leftbox">
    {% if crx.icon is not none %}
        <img src="{{ sspath4pic }}/{{ crx.icon }}"/>
    {% endif %}

    <button class="cupid-blue">立即安装</button>
</div> <!-- class="leftbox" -->

{% endblock mainbody %}

