{% extends "base.html" %}
{% block title4act %}
GROUPed.
    {% endblock title4act %}
{% block headJS %} 
    {% include 'validatious.html' %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>原创团队, 编辑</legend>
<form action="/mana/grp/{{ grp.id }}/info" method="post" class="validate">
<ul class="asform">
<li class="">
<span class="label">名称:</span>
<input type="text" name="name" id="name" value="{{ grp['name'] }} "
    class="required min-length_4" title="团队 名称必填!且长过4字!"/>
<li/>
<li class="textarea3">
<span class="label leftlabel">描述:</span>
<textarea rows="3" name="desc" id="desc" 
    class="required min-length_13" title="团队描述 必填!且长过13字!"/>
    {{ grp['desc'] }}
</textarea>
<li/>
<li class="">
<span class="label">leader:</span>
<input type="text" name="lead" id="lead" value="{{ grp['lead'] }} "/>
<li/>
<li class="">
<span class="label">weibo:</span>
<input type="text" name="weibo" id="weibo" value="{{ grp['weibo'] }} "/>
<li/>
<li class="">
<span class="label">e-mail:</span>
<input type="text" name="mail" id="mail" value="{{ grp['mail'] }} "/>
<li/>
</ul>
    <br/>
    <br/>
    <hr/>
<span id="reply_submit" class="btnw right">
    <button type="submit" name="submit" >就酱</button>
</span>

<span id="back_submit" class="btnw right">
    <a href="/mana/grps" >返回</a>
</span>

<i>
id: {{ grp['id'] }} 
;order: {{ grp['order'] }} 
</i>
</form>
</fieldset>

{% endblock mainbody %}



{% block footernav %}
    {% include 'manav.html' %} 
    {% endblock footernav %}

