{% extends "base.html" %}

{% block title4act %}
index
{% endblock %}

{% block mainbody %}
<h1>扩展商店后台(Bottle版) =</h1>

是也乎;-)

<h2>服务作者</h2>

<a href="/up">扩展上传</a>
;<a href="/up/team">团队维护</a>

<h2>商店管理</h2>

<a href="/mana">管理索引</a>;
包含以下管理控制:
<pre>
+ 商店管理
|   +- 页面生成
|   +- 状态统计
+ 页面管理
|   +- 标签管理
|   +- 推荐位编辑
+ 团队管理
|   +- 团队初始化
|   +- 团队信息修订
` 扩展管理
    +- 审发扩展
</pre>

<h2>接口服务</h2>

<a href="/api">接口索引</a> ;
包含以下管理控制:
<pre>
+ 查询
|   +- 下载统计
+ 更新
|   +- 下载计数
|   +- 扩展信息
|   +- 团队信息
` 控制
    +- 编辑之选
</pre>
{% endblock %}

{% block footernav %}
:-}
{% endblock %}


