{% extends "base.html" %}

{% block title4act %}
Mana.
{% endblock %}

{% block mainbody %}
    <h1>猎豹扩展商店后台:管理(Bottle版) </h1>
    
    <h2>管理扩展</h2>
    <ol>
    <li><a href="/mana/pubs">审发扩展</a></li>
    <li><a href="/mana/crxs">扩展维护</a></li>
    <li><a href="/mana/tags">编辑标签</a></li>
    <li><a href="/mana/grps">团队维护</a></li>
    <li><a href="/mana/usrs">帐户列表</a></li>
    </ol>

    <h2>商店管理</h2>
    
    <ol>
    <li>
    <a href="/mana/gen">页面生成</a></li>
    </ol>
    <br/>
    <a href="/mana/st">商店状态</a>
    

    <h2>推荐管理</h2>
    <a href="/mana/reco">推荐维护</a>
    
    

{% endblock %}

{% block footernav %}
{% include 'manav.html' %} 
{% endblock %}
