{% extends "base.html" %}
{% block title4act %}
CRXed.
    {% endblock title4act %}
{% block headJS %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>扩展附图, 信息</legend>
<label>
<img src="{{ sspath4pic }}/{{ sid }}"/>
    <br/>

<span class="label">描述:</span>
{{ pic.note }}
    <br/>

<span class="label">icon?</span>
     {% if pic.icon == 1 %}
    是！<sup>logo图标</sup>
     {% else %}
    否！ <sup>说明大图</sup>
     {% endif %}
    <br/>

</label>
    <br/>

<span id="reply_submit" class="btnw">
    <a href="/mana/crx/{{ uuid }}" >就酱</a>
</span>

<span id="back_submit" class="btnw">
    <a href="/mana/crx/{{ uuid }}/pic/{{ sid }}/ed" >返回</a>
</span>
    <br/>
<i>

</i>


</fieldset>

{% endblock mainbody %}



{% block footernav %}
    {% include 'manav.html' %} 
    {% endblock footernav %}

