{% extends "base.html" %}
{% block title4act %}
TAGinfo.
    {% endblock title4act %}
{% block headJS %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>扩展标签, 信息</legend>
<label>

<span class="label">名称:</span>{{ tag['name'] }}
    <br/>
<span class="label">描述:</span>{{ tag['desc'] }}
    <br/>
{% if crxs is not none %}
<span class="label">包含.crx:</span>
{% for crx in crxs %}
    <a href="/mana/crx/{{ crx.uuid }}">{{ crx.name }}</a> ; 
{% endfor %}
    <br/>
{% endif %}
</label>


<span id="reply_submit" class="btnw">
    <a href="/mana/tag/{{ tag.id }}/ed" >编辑</a>
</span>
<span id="del_submit" class="btnw">
    <a href="/mana/tag/{{ tag.id }}/del" >删除</a>
</span>
<span id="back_submit" class="btnw">
    <a href="/mana/tags" >返回</a>
</span>

    <br/>
<i>
id: {{ tag['id'] }} 
;order: {{ tag['order'] }} 
</i>

</fieldset>

{% endblock mainbody %}



{% block footernav %}
    {% include 'manav.html' %} 
    {% endblock footernav %}

