{% extends "base.html" %}
{% block title4act %}
TAGed.
    {% endblock title4act %}
{% block headJS %} 
    {% include 'validatious.html' %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>扩展标签, 编辑</legend>
<form action="/mana/tag/{{ tag.id }}/info" method="post" class="validate">
<span class="label">名称:</span>
<input type="text" name="name" id="name" value="{{ tag['name'] }} "
    class="required min-length_4" title="标签名称必填!且长过4字!"/>
    <br/>
<span class="label">描述:</span>
<input type="text" name="desc" id="desc" value="{{ tag['desc'] }} "
    class="required min-length_4" title="标签描述必填!且长过4字!"/>
    <br/>
<label>
</label>
    <br/>
<span id="reply_submit" class="btnw">
    <button type="submit" name="submit" >就酱</button>
</span>

<span id="back_submit" class="btnw">
    <a href="/mana/tags" >返回</a>
</span>
    <br/>
<i>
id: {{ tag['id'] }} 
;order: {{ tag['order'] }} 
</i>
</form>
</fieldset>

{% endblock mainbody %}



{% block footernav %}
    {% include 'manav.html' %} 
    {% endblock footernav %}

