{% extends "base.html" %}
{% block title4act %}
CRXed.
    {% endblock title4act %}
{% block headJS %} 
    {% include 'validatious.html' %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>杰出扩展, 编辑</legend>
<form action="/up/{{ gid }}/crx/{{ uuid }}/info" method="post"
    enctype="multipart/form-data" class="validate">
<span class="label">名称:</span>
<input type="text" name="name" id="name" value="{{ crx['name'] }} "
    class="required min-length_4" title="扩展 名称必填!且长过4字!"/>
    <br/>
<span class="label">描述:</span>

<textarea name="desc" id="desc" 
    class="required min-length_13" title="扩展 描述必填!且长过13字!"
    rows="3" />{{ crx['desc'] }}</textarea>

    <br/>
<span class="label">图片:</span>
<input type="file" name="picture" id="picture" 
    class=""  title="扩展文件必选!"/>
    <br/>
    
<span class="label">标签:</span>

{% for t in tags %}

<input type="checkbox" class="checkbox"
    name="tags" id="tags" 
     {% if t.id in crx.tagid %}
    checked
     {% endif %}
    value="{{ t.id }}"/>
    <label for="{{ t.id }}">{{ t.name }}</label>

{% endfor %}

    <br/>
    
<label>
</label>

    <br/>
<span id="reply_submit" class="btnw">
    <button type="submit" name="submit" >就酱</button>
</span>

<span id="back_submit" class="btnw">
    <a href="/up/{{ gid }}" >返回</a>
</span>
    <br/>
<i>
id: {{ crx['id'] }} 
; uuid: {{ crx['uuid'] }} 
</i>


</form>
</fieldset>

{% endblock mainbody %}



{% block footernav %}
<b>[导航]</b><a href="/up/{{ gid }}">首页</a>
    {% endblock footernav %}

