{% extends "base.html" %}
{% block title4act %}
GROUPinfo. ed.
    {% endblock title4act %}
{% block headJS %} 
    {% include 'validatious.html' %} 
{% endblock%}

{% block mainbody %}
<fieldset>
<legend>原创团队, 信息编辑</legend>
<form action="/up/{{ grp.id }}/info" method="post" class="validate">

    <span class="label">名称:</span>
    <input type="text" name="name" id="name" value="{{ grp['name'] }} "
        class="required min-length_4" title="团队 名称必填!且长过4字!"/>
    <br/>    

    <span class="label">描述:</span>
    <textarea name="desc" id="desc" 
        class="required min-length_13" title="团队 描述必填!且长过13字!"
        rows="3" />{{ grp['desc'] }}</textarea>
    <br/>    


    <span id="reply_submit" class="btnw">
        <button type="submit" name="submit" >就酱</button>
    </span>
    <label>
    </label>

</form>

</fieldset>

    <br/>
<i>
id: {{ grp['id'] }} 
;order: {{ grp['order'] }} 
</i>
{% endblock mainbody %}



{% block footernav %}
<b>[导航]</b><a href="/up/{{ gid }}">首页</a>
    {% endblock footernav %}

